@font-face {
  font-family: "BDOGrotesk-VF";
  src: url("/fonts/BDOGrotesk-VF.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import "tailwindcss";

.font-bdogrotesk-vf {
  font-family: "BDOGrotesk-VF", sans-serif;
}

body {
  overflow-x: hidden;
  box-sizing: border-box;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

details[open] .plus-icon {
  display: none;
}
details[open] .minus-icon {
  display: flex;
}
