@font-face {
  font-family: 'BDOGrotesk-VF';
  src: url('/fonts/BDOGrotesk-VF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import "tailwindcss";

.font-bdogrotesk-vf{
  font-family: 'BDOGrotesk-VF', sans-serif;
}

body{
  overflow-x: hidden;
  box-sizing: border-box;
}

/* styles.css */
.scrollbar-hide {
  /* Chrome, Safari, Opera */
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
